/*@font-face {
font-family: 'BLOKK';
src: url('fonts/BLOKK/BLOKKNeue-Regular.eot');
src: url('fonts/BLOKK/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/BLOKK/BLOKKNeue-Regular.woff') format('woff'),
url('fonts/BLOKK/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
font-weight: normal;
font-style: normal;
}*/

* {	
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: 'Ubuntu', "Lucida Grande", Helvetica, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #212121;
}

body {
	margin: 0;
}

a {
	background-color: transparent;
	color: #727272;
	display: block;
}
a:active,
a:hover {
	outline: 0;
}

h2, h3 {
	font-family: 'Chewy', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Annie Use Your Telescope', cursive;
}

.lorem {
	font-family: 'BLOKK', sans-serif;
}

body > header {
	position: fixed;
	z-index: 999; 
	top: 0;
	right: 0;
	width: 170px;
	padding: 10px 30px 0 10px;
} 
header img {
	width: 100%;  
}

nav {
	position: fixed;
	top : 90px;
	right: 12px;
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #a8144f;
	border-radius: 60px;

}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	/*display: none;*/
}

nav hr {
	position: absolute;
	left: 0;
	top: 0;
	width: 5px;
	height: 24px;
	border: 0;
	margin: 0;
	background-color: #5B0226;
	transition: .3s ease-in-out;
}

nav li {
	position: relative;
	margin: 5px 0;
}

nav a {
	display: flex;
	padding: 10px 0;
	color: #ffffff;
	text-decoration: none;
}

nav i {
	padding: 0 17px;
}

nav li:hover span,
nav li.active span {
	font-weight: bold;
}
nav li.active:nth-child(2) ~ hr {
	top: 85px;	
}
nav li.active:nth-child(3) ~ hr {
	top: 139px;
}
nav li.active:nth-child(4) ~ hr {
	top: 193px;
}
nav li.active:nth-child(5) ~ hr {
	top: 247px;
}
nav li.active:nth-child(6) ~ hr {
	top: 301px;
}

nav li:nth-child(2):hover ~ hr {
	top: 85px!important;	
}
nav li:nth-child(3):hover ~ hr {
	top: 139px!important;
}
nav li:nth-child(4):hover ~ hr {
	top: 193px!important;
}
nav li:nth-child(5):hover ~ hr {
	top: 247px!important;
}
nav li:nth-child(6):hover ~ hr {
	top: 301px!important;
}

nav .text {
	position: absolute;
	top: 0;
	right: 100%;
	bottom: 0;
	vertical-align: center;
	text-align: right;
	width: 70px;
	padding: 10px 0;
	margin: 0 10px 0 0;
}

section {
	/*display: flex;
	flex-direction: column;
	overflow: auto;
	/*justify-content: center;*
	align-items: center;
	*/
	min-height: 100vh;
	max-height: 100vh;
}

#home {
	padding : 0 165px;  
}

section header {
	display: inline-block;
	margin: 10px 10px 0;
	padding: 5px 5px 30px;
}

h3 {
	margin: 0;
	padding-bottom: 7px;
	border-bottom: 3px solid;
	font-size: 1.7rem;
	position: relative;
}
h3:after { 
	content: "\23";
	font-size: 1.4rem;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 31px;
	left: 50%;
	margin-left: -10px;
	padding: 0 4px;
	/* color: rgba(181, 56, 119, 1); */
	background-color: #ffffff;
}

section > div {
	padding : 0 185px 0 145px; 
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/** PORTFOLIO **/
#portfolio > div {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#portfolio img {
	display: block;
	width: 20%;
	height: 250px;
	background-color: crimson;
}

/** COMPETENCES **/
.diplomas {
	align-self: flex-start;
	display: flex;
	box-sizing: border-box;
	font-size: 0.8rem;
}

.diplomas p {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	width: 100px;
	height: 100px;
}

